body {
  font-size: 18px;
  color: green;
  background-image: url(this.gif);
  background-size: 700px;
}

h2 {
  margin-top: 30px;
}

.topnav {
    background-color: #352f00;
    overflow: hidden;
    padding: 0px;
}
.topnav a {
    float: left;
    color: #e0dca3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #e0dca3;
    color: black;
}
/*.row {
  float:left;
  width:60%;
}*/

#obj-1 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 130px;
  left: 850px;
  border: 4px solid #352f00;
}

#slidingpuzzleContainer4x4 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 130px;
  left: 140px;
  border: 4px solid #352f00;
}

/*.col-md-6 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 130px;
  left: 140px;
  border: 4px solid #352f00;
}*/

.puzzlepiece {
  float: left;
  width: 100px;
  height: 100px;
}

@media (max-width:800px) {
  .left, .main, .right {
    width:100%;
  }
}